.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 80%;
}

.column,
.columns {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}

.column:first-child,
.columns:first-child { margin-left: 0; }

.column:last-child,
.columns:last-child { margin-right: 0; }

.four.columns                   { width: 30.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.twelve.columns                 { width: 100%; }

a {
  color: #B59A49;
  opacity: .8;
  text-decoration: none;
}

b {
  /* color: #14c7ea */
}

body {
  color: #81858c;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  color: #6F926E;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: .3em;
  line-height: 62px;
  margin-bottom: 2px;
  margin-top: 10px;
  opacity: .8;
  text-align: center;
}

h2 {
  color: #6F926E;
  font-size: 1.5em;
  font-weight: 350;
  letter-spacing: .25em;
  line-height: 48px;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: .8;
  text-align: left;
}

html {
  font-size: 70%;
}

img {
  max-width: 100%;
  opacity: .8;
  width: 512px;
}

ul {
  display: inline;
  list-style-type: none;
  -webkit-padding-start: 0px;
}
