.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
  position: relative;
  width: 80%;
}

.column,
.columns {
  float: left;
  margin-left: 4%;
  width: 100%;
}

.column:first-child,
.columns:first-child { margin-left: 0; }

.one.column,
.one.columns                    { width: 4.66666666667%; }
.two.columns                    { width: 13.3333333333%; }
.three.columns                  { width: 22%;            }
.four.columns                   { width: 30.6666666667%; }
.five.columns                   { width: 39.3333333333%; }
.six.columns                    { width: 48%;            }
.seven.columns                  { width: 56.6666666667%; }
.eight.columns                  { width: 65.3333333333%; }
.nine.columns                   { width: 74.0%;          }
.ten.columns                    { width: 82.6666666667%; }
.eleven.columns                 { width: 91.3333333333%; }
.twelve.columns                 { width: 100%; margin-left: 0; }

a {
  color: #ff61fa;
  opacity: .8;
  text-decoration: none;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #222;
}

header {
  color: #14c7ea;
  margin-bottom: 14px;
  text-align: left;
}

h1 {
  margin-top: 10px;
  letter-spacing: .3em;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 2px;
  line-height: 62px;
  opacity: .6;
}

html {
    font-size: 70%;
}

img {
  opacity: .8;
  width: 512px;
  max-width: 100%;
}

p {
  color: #81858c;
}
